@model List<Tarea2.Models.CharacterInfo>

@{
    ViewData["Title"] = "List";
}

<h1 class="text-center my-4">Lista de Personajes</h1>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Imagen</th>
            <th>Nombre (EN)</th>
            <th>Nombre (JP)</th>
            <th>Categoría</th>
            <th>Colores</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.row_number</td>
                <td><img src="@c.thumb_img" alt="@c.id" style="width:80px; border-radius:8px;" /></td>
                <td>@c.name_en</td>
                <td>@c.name_jp</td>
                <td>@c.category_label</td>
                <td>
                    <span style="display:inline-block; width:20px; height:20px; background:@c.color_main;"></span>
                    <span style="display:inline-block; width:20px; height:20px; background:@c.color_sub;"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
